:root{
    --blue: #42B9F3;
    --off-white: #CCCCCC;
    --white: #ffffff;
    --gray:#585858;
    --light-gray: #828181;
}

html,body,p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    color: var(--white);
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url('../images/2597.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#header{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em ;
}

#logo{
    font-family: "Inria Sans";
    font-size: 2em;
    align-self: end;
}

#location-search {position: relative;}

.input-wrapper{
    background-color: var(--off-white);
    display: flex;
    gap: 0.4em;
    align-items: center;
    height: 2.5em;
    border-radius: 15px ;
    padding: 0 10px;
}

#location-text{
    font-family: "Inria Sans";
    font-size: 1.2em;
    border: 0;
    outline: none;
    background-color: var(--off-white);
}

#location-text:focus{outline: none;}

#magnifying-glass , #location-crosshairs{
    width: 1.5em;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer; 
}

.input-wrapper:focus-within{
    border: 1px solid green;
    outline: none;
}

#current-data-location{
    margin-bottom: 2em;
    width: 95%;
    margin: 10px auto;
    height: 70%;
}

#current-date{
    font-family:"Inria Sans";
    color: var(--white);
    padding-top: 1em;
    direction: rtl;
}

#calendar-img{
    width: 40px;
    aspect-ratio: 1;
}

#calendar-date{
    display: flex;
    align-items: center;
    direction: rtl;
    gap: 2.5em;
    margin-bottom: 0.5em;
    opacity: 0;
    transition: all 0.9s ease-in;
}

#date{
    font-size: 2em;
    font-weight: bold;
}

#input-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-img input{
    position: absolute;
    width: 15px;
    aspect-ratio: 1;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
}

#input-img img:hover{cursor: pointer;}

#hijri-miladaa-date{
    font-size: 1.2em;
    opacity: 0;
    font-weight: lighter;
    word-spacing: 0.8em;
    line-height: 1.5em;
    transition: all 0.9s ease-in;
}

#current-location{
    font-family: 'Times New Roman';
    line-height: 3em;
    opacity: 0;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.9s ease-in;
}

#location-name{
    font-weight: bold;
    font-size: 4em;
}

#location-prayer-time , #daraga{font-size: 1.5em;}

#prayer-times{
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 2em;
    opacity: 0;
    font-family: 'Tinos';
    transition: all 0.9s ease-in;
}

.pray{text-align: center;}
.pray-name{font-size: 2.2em;}
.pray-time{font-size: 1.2em;}

.pray.next-pray{
    padding: 0.7em;
    border: 3px solid var(--off-white);
    border-radius: 5px;
    text-align: center;
}

.pray.next-pray p:first-child{
    font-size: 3em;
    line-height: 1.5em;
    font-family: bold;
    color: var(--off-white);
}